@page "/About"

<PageTitle>Hvad Tilbyder Jeg</PageTitle>

<div class="d-flex flex-wrap">
    <div class="align-items-center mx-auto">
        <img src="_content/Webside/Reasources/Image/Tanja.png"/>
    </div>
    <div class="InfoCard CardColor align-self-center p-2 m-3 mx-auto">
        <h3>Velkommen</h3>
        <p>
            Jeg skal via skrift forsøge at give dig et indblik i mit faglige virke, velvidende at et møde mellem to mennesker altid er en unik oplevelse. Med dette forbehold skal jeg forsøge at introducere dig til mig som psykolog.
        </p>
    </div>
</div>
<div class="row m-0">
    <div class="col px-3">
        <h1>Min ramme</h1>
        <p>
            Min ramme er at forsøge at forstå hvor du er og hvad du har brug for for at komme videre. At skabe et samarbejde omkring at du lige nu ikke har tilstrækkelig viden til at komme videre selv, men har brug for hjælp for at se nye muligheder. I dette samarbejde ser jeg respekt og ydmyghed samt nærvær som helt essentielle komponenter. Jeg vil være åben ærlig og direkte i interaktionen med dig for at belyse hvad jeg ser og hvordan jeg oplever din problemstilling. I min optik, er det så dit ansvar at bruge de ting vi sammen kan finde frem til for at skabe en forandringsproces.
        </p>
        <p>
            Jeg tror på at man via samtale og forståelse i empatisk samspil kan se og opleve nye handlemuligheder. Det er min opgave at bringe disse handlemuligheder i spil, men det er dig der skal bringe mulighederne ud af terapiens rum og bruge dem i hverdagen.
        </p>
        <p>
            Jeg arbejder med mange forskellige problemstillinger, herunder angst, traume, stress og depression. Jeg har erfaring med en bred målgruppe, men ser mig bedst kvalificeret til at hjælpe unge og voksne.
        </p>
        <p>
            Jeg har et fagligt fundament inden for gestalt terapeutisk ramme, og tror på at et fænomenologisk oplevelsesoreinteret fundament er den reference der giver bedst muligheder for at skabe forandring og indsigt. Gestalt terapi <br/>
            Gestaltterapien er en oplevelsesorienteret psykoterapi, der styrker den enkelte i at opleve sig selv som et unikt, levende og ansvarsbevidst væsen. Denne retning sigter mod en intens, spontan bevidsthedsgørelse.
        </p>
    </div>
    <div class="col p-0"><img class="w-100" src="_content/Webside/Reasources/Image/Klinik.jpg"/></div>
</div>
<div class="d-flex flex-wrap flex-md-nowrap gap-3 mx-2">
    <div class="CardColor">
        <h2 class="text-center">Erfaring</h2>
        <p>
            Som psykolog har jeg arbejdet med akutte kriser, angst, depression, debriefing, gruppesupervision, individuel samtaleterapi samt parterapi. Efter endt uddannelse har jeg uddannet mig inden for retningen specialist i psykotereapi, og har arbejdet i egen praksis på deltid siden 2011.
        </p>
    </div>
    <div class="CardColor">
        <h2 class="text-center">Behandling af dine oplysninger</h2>
        <p>
            Jeg er i forbindelse med psykologisk behandling af dig som dataansvarlig forpligtet til at indsamle og behandle en række personoplysninger om dig, jf. Psykologloven og Bekendtgørelse om ordnede optegnelser for psykologer.
        </p>
        <p>
            Denne privatlivspolitik beskriver, hvordan jeg i den forbindelse, bruger og i nogle tilfælde videregiver dine personoplysninger.
        </p>
    </div>
    <div class="CardColor">
        <h2 class="text-center">Typer af oplysninger</h2>
        <p>
            Jeg indsamler og behandler følgende typer af personoplysninger om dig (i det omfang det er relevant for netop dig):<br/>
            Almindelige kategorier af personoplysninger:
        </p>
        <p>
            Navn, adresse, evt. e-mailadresse, telefonnr., personnummer køn, familierelationer og sociale relationer, arbejdsrelationer og uddannelse.
            Særlige kategorier af personoplysninger (”følsomme personoplysninger”):<br/>
            Helbredsoplysninger
        </p>
    </div>
</div>
<div class="text-center">
    <h1>Ventetid</h1>
    <p class="m-0">Ventetid er for unge mellem 18-25 år er aktuelt 8 mdr.</p>
    <p>Ventetid andre 6 mdr.</p>
</div>
<div class="px-3">
    <h2>Formål</h2>
    <p>Jeg behandler dine personoplysninger til følgende formål:</p>
    <ul>
        <li>Min behandling af dig</li>
        <li>Udarbejdelse af attester til brug for myndigheder, forsikringsselskaber mv.</li>
        <li>Kommunikation med andre sundhedspersoner, læger eller sygehuse</li>
        <li>Indberetning til kliniske kvalitetsdatabaser</li>
        <li>Afregningsformål</li>
        <li>Overholdelse af min forpligtelser i henhold til gældende lovgivning, herunder EU’s databeskyttelsesforordning, databeskyttelsesloven og anden relevant sundhedsretlig lovgivning, f.eks.</li>
        <li style="list-style-type: none;">
            <ul>
                <li>Dokumentationspligt</li>
                <li>Overholdelse af basale principper for behandling af personoplysninger og juridisk hjemmel for behandlingen</li>
                <li>Iværksættelse og vedligeholdelse af tekniske og organisatoriske sikkerhedsforanstaltninger, herunder men ikke begrænset til at hindre uautoriseret adgang til systemer og oplysninger, hindre modtagelse eller distribution af ondsindet kode, standsning af overbelastningsangreb (denial-of-service-angreb) og beskadigelser af computersystemer og elektroniske kommunikationssystemer</li>
                <li>Undersøgelse af mistanke eller viden om sikkerhedsbrud og rapportering til individer og myndigheder</li>
                <li>Håndtering af forespørgsler og klager fra registrerede og andre</li>
                <li>Håndtering af inspektioner og forespørgsler fra tilsynsmyndigheder</li>
                <li>Håndtering af tvister med registrerede og tredjeparter.</li>
                <li>Statistiske undersøgelser og videnskabelig forskning</li>
            </ul>
        </li>
    </ul>
</div>
<div class="px-3">
    <h3>Frivillighed</h3>
    <p>Når jeg indsamler personoplysninger direkte fra dig, giver du personoplysningerne frivilligt. Du er ikke forpligtet til at give disse personoplysninger til mig. Konsekvensen af ikke at give mig personoplysningerne vil være, at jeg ikke kan varetage formålene ovenfor, herunder at jeg ikke vil kunne behandle dig.</p>
    <p></p>
    <p>Videregivelse af personoplysninger</p>
    <p>Idet omfang det er nødvendigt for den konkrete behandling af dig, vil dine personoplysninger blive videregivet og delt med følgende modtagere:</p>
    <ul>
        <li>Der videregives oplysninger til andre sundhedspersoner, hvis det er nødvendigt af hensyn til et aktuelt behandlingsforløb.</li>
        <li>Der videregives oplysninger til RKKP (kliniske kvalitetsdatabaser), Styrelsen for Patientsikkerhed, Psykolognævnet, Arbejdsmarkedets Erhvervssikring, i det omfang, at der foreligger en pligt hertil ifølge gældende lovgivning.</li>
        <li>Du har som patient adgang til dine egne oplysninger (indsigtsret).</li>
        <li>Ved indberetning af oplysninger i forbindelse med afregning for patientbehandling videregives oplysninger til de regionale afregningskontorer.</li>
        <li>Ved indberetning til kliniske kvalitetsdatabaser.</li>
        <li>I andre tilfælde, og såfremt der foreligger samtykke, videregives oplysninger til forsikringsselskaber.</li>
        <li>Det juridiske grundlag for at indsamle, behandle og videregive dine personoplysninger er:</li>
        <li>Til brug for den almindelige patientbehandling indsamles, behandles og videregives almindelige personoplysninger i medfør af databeskyttelsesforordningens artikel 6(1)(c) og (d), mens de følsomme personoplysninger indsamles, behandles og videregives i medfør af databeskyttelsesforordningens artikel 9(2)(c) og (h).</li>
        <li>Herudover er vi forpligtet til at behandle en række personoplysninger om dig ved den almindelige patientbehandling i medfør af Psykologloven samt Bekendtgørelse om psykologers pligt til at føre ordnede optegnelser.</li>
        <li>Oplysninger til brug for afregning for patientbehandling fremsendes en gang pr. måned til regionens afregningskontor efter reglerne i Overenskomst om Psykologhjælp af Juli 2016</li>
        <li>Dine personoplysninger videregives alene til forsikringsselskaber med dit forudgående samtykke, jf. databeskyttelsesforordningens artikel 6(1)(a) og 9(2)(a).</li>
    </ul>
</div>