@page "/"

<PageTitle>Index</PageTitle>

<div class="Image w-100" style="background-image: url('https://localhost:7274/_content/Webside/Reasources/Image/IMG_1029.jpg');">
    <h1>Psykolog<br/>Tanja Langer</h1>
</div>
