@page "/"
@inject BasicData _basicData
<PageTitle>Index</PageTitle>

<div class="Image w-100" style="background-image: url(@($"{_basicData.Data["base address"]}/_content/Webside/Reasources/Image/Welcom.jpg"));">
    <h1>Psykolog<br/>Tanja Langer</h1>
</div>
